<div class="container despl">
    <!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LIFETIME MEMBERSHIP </title>

</head>

<body>
    <header class="masthead d-flex withd-auto ">

        <div class="container text-center">
            {{>navlife}}
            <p></p>
            <h3 clss="mb-1"> <b>LIFETIME MEMBERSHIP CLUB</b> </h3>
        </div>
    </header>

    <center>
        <div class="row">

            <div id="columna1" class="text-center">
                <p>BE A PART OF -</p>
                <h3><b>LIFETIME MEMBERSHIP CLUB</b></h3>
                <h6><b>- FREE ACCESS TO ALL ONGOING LIVE TRAININGS AND 30+ VIDEO TUTORIALS</b></h6>
                <h3><b>WHAT EXACTLY LIFETIME MEMBERSHIP CLUB IS???</b></h3>
                <p style="text-align: justify;">LIFETIME MEMBERSHIP CLUB gives you access to join All Ongoing Manual +
                    Automation Instructor LED Live courses on Way2Automation. You are FREE to join any Live class and
                    can
                    repeat
                    your Batches N number of times.</p>
                <p>All Ongoing Instructor LED Live Batches from different Automation Testing courses (Such as: Selenium
                    Java,
                    Selenium Python, Webservices REST Assured, API Python, JMeter Performance Testing, ROBOT Framework,
                    Manual
                    Testing – SQT etc) and 1000+ hours video tutorials from 30+ Most Demanding Automation courses: <a
                        href="https://www.selenium-tutorial.com/p/automation-testing-courses">Lifetime Access on 30+
                        Automation
                        Courses video library</a></p>
            </div>
        </div>
        </div>
        <div>
        <h2 style="text-align: center;">What Is Lifetime Membership Club?</h2>
        <h3 style="text-align: center;">( Double click on the video and watch it on Full screen) </h3>
        
        </div>
        <div "text-align: center;">
            <ul class="col2">
                <li><iframe width="536" height="302" src="https://www.youtube.com/embed/jh6yvH9QB6g"
                        title="ANNOUNCEMENT - Selenium with Core Java - New Batch starts Saturday @8:00 PM IST"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe></li>
                <li class="mx-auto"><iframe width="536" height="302" src="https://www.youtube.com/embed/wCzw7SCgBjo"
                        title="Way2Automation - Lifetime Membership Club - FREE ACCESS TO ALL LIVE CLASSES"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe></li>
            </ul>

        </div>
    </center>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>
</div>