<div class="container p-5">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card ">
                <div class="card-body">
                    <form action="/signin" method="POST">
                    <div class="card-header text-center" style="background-color:red">
                        <h3>LOGIN</h3>
                    </div>
                    <div class="form-group "></div>
                    <div class="form-group row">
                            <label for="colFormLabel" class="col-sm-2 col-form-label col-form-label-sm">Username:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control form-control-sm" name="username" id="colFormLabel" >
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="colFormLabel" class="col-sm-2 col-form-label col-form-label-sm">Pasword:</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control form-control-sm" name="password" id="colFormLabel" >
                            </div>
                        </div>
                        <div class="card" style="background-color: rgb(180, 174, 174);">
                            <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Dont Have an Account?|</label>
                            <a href="/signup" class="btn "style="color:red" >Signup</a>

                            <button class="btn btn- align= right mx-auto"style="background-color:red" >
                                SUBMIT
                            </button>
                        </div>
                         </div> 
                        <div class="card " style="background-color: rgb(180, 174, 174);">
                            <div class="form-group"></div>
                            <div class="form-group">
                                
                                <a href="/test" style="color:red">ENTER TO THE TESTING WEBSITE</a>
                            
                            </div>
                            <div class="form-group">
                                <div class="form-check" ></div>
                                <a href="/life" style="color:red">EXPLORE LIFETIME MEMBERSHIP</a>
                            </div>
                        </div> 
                    </div>
                    
                    </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>